Trang chu

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>ID</th>
      <th>Ten</th>
      <th>Loai</th>
      <th>Gioi tinh</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tv in thucVats">
      <td>{{$index}}</td>
      <td>{{tv.id}}</td>
      <td>{{tv.ten}}</td>
      <td>{{tv.loai}}</td>
      <td>{{tv.gioiTinh}}</td>
      <td>
        <a
          href="#thuc-vat/delete/{{tv.id}}"
          ng-click="deleteThucVat($event, $index)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
